{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'assets/css/play-video.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/comment.css' %}">

    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>


<!-- custom js link -->
<script src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/js/play_video.js' %}"></script>

<!-- ionicon link -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<body id="#top">


    <main>
        <article>

            <!-- #MOVIE DETAIL -->

            <section class="movie-detail">
                <div class="container">

                    <figure class="movie-detail-banner" onclick="toggle();">

                        <img src="{{ image.url }}">
                        <button class="play-btn" onclick="clicc()">
                            <ion-icon name="play-circle-outline"></ion-icon>
                        </button>

                    </figure>

                    <div class="movie-detail-content">

                        <p class="detail-subtitle">Eng Sara kinolar</p>

                        <h1 class="h1 detail-title">{{ part }}</h1>
                        
                        <div class="meta-wrapper">

                            <div class="badge-wrapper">
                                <div class="badge badge-outline">HD</div>
                            </div>

                            <div class="ganre-wrapper">
                                <a href="#">{{ category }},</a>
                                <a href="#">{{ country }},</a>
                                <a href="#">{{ language }},</a>
                            </div>

                            <div class="date-time">
                                <div>
                                    <ion-icon name="calendar-outline"></ion-icon>
                                    <time datetime="2021">{{ date|date:"Y" }}</time>
                                </div>
                            </div>
                        </div>

                        <div class="details-actions">
                            <button class="share">
                                <ion-icon name="share-social"></ion-icon>
                                <span>Jo'natish</span>
                            </button>

                            <div class="title-wrapper">
                                <p class="title">Tezkor</p>
                                <p class="text">Eng sara kinolar</p>
                            </div>

                            <button class="btn btn-primary" onclick="toggle();">
                                <ion-icon name="play"></ion-icon>
                                <span>Hozir Ko'rish</span>
                            </button>
                        </div>

                        <div class="video-container">
                            <center>
                                <video controls width="90%;">
                                    <source src="{{ video.url }}">
                                </video>
                            </center>
                            <img onclick="toggle();"
                                src="https://th.bing.com/th/id/OIP.RnP_vb3wnQkK8L-I8wP26wAAAA?pid=ImgDet&rs=1"
                                class="close">
                        </div>


                        <a href="{{ serial.film.url }}" download class="download-btn">
                            <span>Yuklab Olmoq</span>
                            <ion-icon name="download-outline"></ion-icon>
                        </a>
                    </div>
                </div>

                <br>

                <!-- #Random Films -->
                <section class="tv-series">
                    <h2 class="h2 section-title">Barcha qismlar</h2>

                    <div class="container">
                        {% for part in parts %}

                        <ul class="movies-list" style="display: inline-flex;">

                            <li>
                                <div class="movie-card">
                                    <a href="{% url 'part-detail' part.pk %}">
                                        <figure class="card-banner">
                                            <img src="{{ image.url }}" alt="{{ part }}">
                                        </figure>
                                    </a>

                                    <div class="title-wrapper">
                                        <a href="{% url 'part-detail' part.pk %}">
                                            <h3 class="card-title">{{ part.part }}</h3>
                                        </a>

                                        <time datetime="2022">{{ part.date|date:"Y" }}</time>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        {% endfor %}

                    </div>
                </section>

        </article>
    </main>


    <!-- custom js link -->
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/play_video.js' %}"></script>

    <!-- ionicon link -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>

{% endblock content %}